[2016-09-10 02:36] travisbloom opened #5 "Add documentation for interop with Relay"
The .babelrc needs to be edited to the config below in order to properly configure with Relay:

[code]

[2016-09-13 02:35] brentvatne commented on #5
thanks a lot @travisbloom! I'll find a place in the docs for this

[2016-09-13 06:39] brentvatne commented on #5
done! https://github.com/exponentjs/exponent-docs/commit/b010b6b16db530edeb607004dbda32132ed2bcf3

[2016-09-13 06:39] #5 closed

[2016-09-27 20:58] ilya opened #8 "Installation doc should mention watchman as a prerequisite"
If you don't have watchman installed, the initial experience is frustrating as you have to wait on a long timeout to find out that you're missing it.

https://docs.getexponent.com/versions/v10.0.0/introduction/installation.html

[2016-09-27 21:34] brentvatne commented on #8
Thanks @ilya! Fixed in https://github.com/exponentjs/exponent-docs/commit/e4a04f28b5fc8a989e6a209cee13cd8a0fcb04ab

[2016-09-27 21:34] #8 closed

[2016-10-03 22:40] siruguri opened #9 "up-and-running should refer to main.js?"
Should the line that refers to `screens/homeScreen.js` instead say to "open `main.js` in your app root," or something similar?

If you say yes, I will post a PR.

[2016-10-21 16:19] brentvatne commented on #9
@siruguri - actually this is intentional, but it was written before we had a blank project template :) I updated the docs to instead say to select the tabs template. thanks for pointing this out!

[2016-10-21 16:19] #9 closed

[2016-10-26 23:49] siruguri opened #14 "genymotion is no longer available in a free pricing level"
It looks like the Basic option was recently removed. This should be corrected in the docs. I can still see it in Google search results:

![screen shot 2016-10-26 at 4 48 38 pm](https://cloud.githubusercontent.com/assets/40653/19749216/136ba5ac-9b9c-11e6-938c-b4bbfd62bba9.png)

but clicking through, you can see it's been removed:

![screen shot 2016-10-26 at 4 49 03 pm](https://cloud.githubusercont

[2016-10-27 00:10] siruguri commented on #14
Ah, the changes are in Github but only in the `unversioned` folder... not sure if you're about to deploy them to previous versions, so I'll leave this open for now

[2016-10-30 16:05] brentvatne commented on #14
Heya @siruguri - thanks for pointing this out -- we updated sdk10 docs as well: https://docs.getexponent.com/versions/v10.0.0/introduction/installation.html#android-emulator

We didn't backport to older versions as hopefully people will not be installing from scratch for older versions ;> each version is much better than the last.

[2016-10-30 16:05] #14 closed

[2016-11-03 18:29] brentvatne opened #16 "Add docs for root level `exp` prop"
https://github.com/exponentjs/new-project-template/issues/1

[2016-11-29 17:19] brentvatne commented on #16
Not important anymore

[2016-11-29 17:19] #16 closed

[2016-12-05 03:49] iroshanAV commented on #14
Is it really gennymotion has free version?

[2016-12-05 19:43] brentvatne commented on #14
@iroshanAV - yes there is a link in the docs that I link to above

<img width="887" alt="screen shot 2016-12-05 at 11 43 23 am" src="https://cloud.githubusercontent.com/assets/90494/20899641/0d29409c-bae0-11e6-9b82-55809ef6310b.png">

[2017-02-22 23:19] brentvatne opened #34 "Icon property in exp.json should explain that it is resized automatically for different icon sizes"

[2017-03-16 00:42] elie222 opened #37 "Clearer explanation of Expo Kit"
This page wasn't fully clear to me:
https://docs.expo.io/versions/v14.0.0/guides/exponentkit.html

I think the biggest thing for me that isn't clear is what the disadvantages of detaching are. Detaching sounds like a bad thing, but then you can still use it with Expo, so what's so bad about it? It sort of gets explained on that page here and there, but not fully IMO.

I hope to make a PR at some p

[2017-03-16 18:23] halallahh opened #38 "Exponent.WebBrowser docs"
Where is Exponent.WebBrowser docs?

[2017-03-17 02:19] brentvatne commented on #38
great question! coming soon, sorry for the delay

[2017-03-17 09:57] #38 closed

[2017-03-17 19:17] brentvatne commented on #37
thanks! cc @terribleben

[2017-03-22 19:51] jhhayashi opened #43 "Errors when trying to run locally with `yarn start`"
[code]

yarn v0.20.3
node v6.9.2

[2017-03-23 19:58] brentvatne commented on #43
fixed! https://github.com/exponent/exponent-docs/commit/77f71f5886622e2ee61ccd9d7920b99c3904301c#diff-a89e2162a6bc1f13a92b12b124e329f6R13

[2017-03-23 19:58] #43 closed

[2017-03-28 04:36] nikhilag opened #47 "Outdated documentation for 'Using Firebase'"
The documentation for 'Using Firebase' at https://docs.expo.io/versions/v15.0.0/guides/using-firebase.html mentions the following:-

Since SDK15 is already out, we should update the documentation. Also, is Firebase Cloud Storage supported now?

[2017-03-28 04:40] brentvatne commented on #47
It turns out that it didn't land for SDK14 because it has taken a long time for this to be reviewed upstream. Firebase Cloud Storage is still not supported due to its usage of the Blob API - you can read about an alternative approach here: https://forums.expo.io/t/expo-and-uploading-image-blobs/227

You can monitor the progress of upstreaming the Blob API here:
- https://github.com/facebook/react-

[2017-03-28 04:54] nikhilag commented on #47
Thanks! The following part does need to be changed in the documentation however:-

How about using https://github.com/fullstackreact/react-native-firestack?

[2017-03-28 19:45] brentvatne commented on #47
@nikhilag - feel free to submit a PR if you think it's important :)

no interest in react-native-firestack be ecausas I mentioned above the Blob implementation upstream will fix the issue. It's better to depend on standards / low level primitives than specific native code for a service.

[2017-03-29 20:25] brentvatne commented on #38
they are up and included an embed from sketch.expo.io :)

[2017-03-30 15:59] halallahh commented on #38
Yeah That cool!

[2017-04-10 14:35] 8ctopotamus opened #49 "Should exp.json be renamed app.json?"
I see references to exp.json all over the documentation, but when using `create-react-native-app appName`, an app.json file is generated. I assume this should be used the same way as exp.json from the docs?

[2017-04-10 20:37] sonaye commented on #49
Yes it's the same but more general. With regards to renaming, I think it would make sense now to rename `exp.json` to `expo.json` and `exp` cli to `expo` as well.

cc: @jesseruder

[2017-04-11 16:26] 8ctopotamus opened #51 "How to change status bar notification icon?"
How do you define a notification icon for the status bar? I created a 48x48px png and set that in app.json under "Notification".

It worked for the actual notification message, but still used the little exponent icon in the status bar. How do I change the status bar notification Icon?

[2017-04-11 22:17] sonaye commented on #51
Standalone builds only.

[2017-04-12 20:35] 8ctopotamus commented on #51
Cool, is this also the case when you "eject" an expo app into a regular RN app? What is the difference between using "eject" and a standalone build?

[2017-04-24 23:55] 8ctopotamus commented on #51
Also, will Expo push notifications work in a standalone app?

[2017-04-27 18:25] expjess opened #54 "something about chili peppers"

[2017-04-27 18:26] expjess commented on #54
did not go into #docs

[2017-04-27 18:26] #54 closed

[2017-05-08 21:47] brentvatne commented on #51
yes @8ctopotamus, but not if you "eject"

[2017-05-08 21:47] brentvatne commented on #51
feel free to take further questions to http://forums.expo.io/ :)

[2017-05-08 21:47] #51 closed

[2017-05-08 21:50] brentvatne commented on #49
@8ctopotamus - indeed exp.json is the expo specific version of app.json. @sonaye those are valid points, we're actively working to make this as clear as possible so we'll consider this option!

[2017-05-08 21:50] #49 closed

[2017-05-08 21:50] 8ctopotamus commented on #51
What is the difference between a "standalone" app and an "ejected" app?

[2017-05-09 00:04] brentvatne commented on #51
Standalone app: https://docs.expo.io/versions/v16.0.0/guides/building-standalone-apps.html
Detached app (commonly called "ejected"): https://docs.expo.io/versions/v16.0.0/guides/detach.html

[2017-05-09 01:05] #47 closed

[2017-05-09 01:07] brentvatne commented on #37
I think @terribleben has done a bunch to improve this so I'll close it, if anyone runs into problems please re-open an issue on https://github.com/expo/expo/issues

[2017-05-09 01:07] #37 closed

[2017-05-09 01:08] #34 closed

[2017-05-09 02:38] brentvatne commented on #47
fixed this

[2017-05-09 15:53] 8ctopotamus commented on #51
Got it, thank you ver much!

[2017-05-15 01:50] astonm opened #63 "How do the SQLite database files work?"
I'm not yet sure if this is a missing piece in the document, or just a limitation of Expo's SQLite implementation, but my guess is the former, so I'm filing an issue here.

I had an existing SQLite .db file I wanted to ship statically with my app, but I couldn't figure out how to get it into the app in the first place. Based on the documentation, I supposed the `Asset` handling stuff might help, b

[2017-05-17 22:29] nikki93 commented on #63
Hey @astonm

I haven't tried this use-case yet (using a pre-exitent db). One way to do this is to download from a remote URI / Asset as you suggested and then move it to the correct location in the FS. The code at https://github.com/expo/expo-sdk/blob/master/src/Asset.js#L118-L126 downloads from a remote URI to a local file. If you use `cache: false` and use a local path of `/SQLite/blah.db` then

[2017-06-02 23:12] nikki93 commented on #63
@astonm based on our Slack convo it seems you got this working. https://github.com/expo/expo/issues/108 will allow a proper solution here going ahead, but don't have time to work on that till SDK 19 or later. In light of that, gonna close this issue. Feel free to post the solution you came up with somewhere so people can refer to it!

[2017-06-02 23:12] #63 closed

[2017-06-03 02:25] astonm commented on #63
In case anyone is looking to do something similar, the gist of what I did is below. Section 1 is a function that tweaks the existing `Asset.downloadAsync` to allow saving to a specific path, Section 2 is how to create and download the database asset, and the last line shows how to open the database using the expo `SQLite` library.

[code]

[2017-06-05 11:10] pavitran commented on #47
is this fixed?

[2017-06-05 16:23] hkrish0 commented on #14
https://www.genymotion.com/fun-zone/
You can find the basic version in above url

[2017-06-05 21:55] brentvatne commented on #47
no I just updated the documentation.

track the Blob support here: https://expo.canny.io/feature-requests/p/blob-support

[2017-06-08 05:21] nikki93 commented on #63
@astonm just to check -- in the last 3 lines the `etymonline.db` and `my_database.db` mentions should be the same name `x.db` is that correct?

[2017-06-08 06:38] gsklee opened #69 "Missing png"
https://docs.expo.io/versions/v17.0.0/introduction/installation.html

In the section "iOS simulator", the link to the image https://docs.expo.io/_static/img/xcode-simulator.png is broken.

[2017-06-10 00:11] brentvatne commented on #69
thanks, removed this link!

[2017-06-10 00:11] #69 closed

[2017-06-12 08:42] gsklee opened #74 "Clarification Needed: Preloading & Caching Assets"
https://docs.expo.io/versions/v17.0.0/guides/preloading-and-caching-assets.html

Do the steps detailed in this article need to be implemented by developers? I thought it's said somewhere (https://docs.expo.io/versions/v17.0.0/guides/assets.html) that assets are managed automatically by Expo in both develop and production modes?

[2017-06-12 15:19] gsklee opened #76 "Routing & Navigation: Use react-navigation Instead"
https://docs.expo.io/versions/v17.0.0/guides/routing-and-navigation.html

Should change to give a react-navigation example.

[2017-06-12 18:13] brentvatne commented on #76
@skevy - can you change this when we switch new project template over to react-navigation?

[2017-06-12 20:39] brentvatne commented on #74
Preloading and caching assets is useful for assets that need to be displayed immediately. For example, fonts, icons, your logo. Expo handles uploading all of your assets to a CDN but it does not include them all inside of your app binary, it fetches them on-demand unless you tell your app to download and cache. In development, the asset resolves to a url on your development server, and in producti

[2017-06-17 01:15] morenoh149 opened #80 "What license are the docs distributed under?"
I'd like to submit expo docs to devdocs.io as that is my primary way of consuming documentation.

What license are the expo docs distributed under?

See also https://trello.com/c/PVnfdeaN/26-suggest-new-docs-here

[2017-06-18 04:07] brentvatne commented on #80
hello! expo software and docs are distributed under bsd license, see: https://github.com/expo/expo/blob/master/LICENSE

let me know if we can help with devdocs.io integration!

[2017-06-19 14:31] morenoh149 commented on #80
submitted https://trello.com/c/PVnfdeaN/26-suggest-new-docs-here#comment-5947e0178c017a7b953b3159

[2017-06-19 14:31] #80 closed

[2017-06-25 03:57] jkeesh opened #83 "Expo XDE Tour Screenshot out of date?"
I think the top screenshot on this page: https://docs.expo.io/versions/v18.0.0/introduction/xde-tour.html

https://docs.expo.io/39020a972467e2c712b463f40ed9759d-quality=50&pngCompressionLevel=9&width=1064.png

Is out of date. I just downloaded the app on a mac and the register screen did not look like that.

[2017-06-30 15:26] outaTiME commented on #63
Hi @nikki93, im trying to use the above solution but if i use path with folder like `SQLite/my_database.db` or `/SQLite/blah.db` with cache in `false` the file is not created ... but if i remove the folder it works, something related with the `downloadAsync` method?

Thanks !!!

[2017-06-30 18:44] florentroques commented on #63
@outaTiME the downloadAsync method doesn't create a directory if you specify a path with a folder for now as of SDK 18 ([downloadAsync's iOS code] (https://github.com/expo/expo/blob/ios/sdk18/ios/Exponent/Versioned/Modules/Api/EXFileSystem.m#L43-L48)) and we do not have any directory creation method available for now.

But I saw they're implementing new FileSystem methods nowadays ([future makeDir

[2017-06-30 23:33] outaTiME commented on #63
@florentroques yup I'm expecting the new 19 SDK, but the solution (or workaround) of @nikki93 doesn't work on first execution because the `downloadAsync` method does not create `SQLite` folder, therefore it does not take the downloaded file and creates an new in `SQLite` folder, take a look:

<img width="793" alt="screen shot 2017-06-30 at 8 27 17 pm" src="https://user-images.githubusercontent.com

[2017-07-01 14:26] florentroques commented on #63
@outaTiME I found the issue. Actually, the SQLite folder needs to be created at first for the downloadAsync method to be able to save a file to the SQLite folder.

1. create a dummy DB to create the SQLite folder
<img width="604" alt="screen shot 2017-07-01 at 16 01 06" src="https://user-images.githubusercontent.com/1901827/27762737-f7ae1e40-5e77-11e7-9f72-6928cb4947a8.png">

2. download the desir

[2017-07-04 03:25] outaTiME commented on #63
Thanks for your time @florentroques awesome the example repo you made ... it works perfectly, basically the problem is the creation of the folder `SQLite`, ideally `SQLite.openDatabase` should allow any path and not be limited to the `SQLite` folder only.

I assume this will be solved when filesystem support released (https://github.com/expo/expo/issues/108), right?

Thanks again

[2017-07-04 04:10] outaTiME commented on #63
BTW, im running with another problem the `downloadAsyncTo` method does not intercept a 404 from remote when downloading.

I create issue in expo for this problem https://github.com/expo/expo/issues/326

[2017-07-07 11:05] pensierinmusica opened #90 "More details on packagerOpts"
Hi,

Can you please provide more details on what `packagerOpts` does?

https://docs.expo.io/versions/v18.0.0/guides/configuration.html#packageropts

https://github.com/expo/expo-docs/blob/master/versions/v18.0.0/guides/configuration.md

Thanks!

[2017-07-07 12:04] pensierinmusica opened #91 "entryPoint doesn't seem to work"
Hi,

The docs list an option named `entryPoint` to indicate the entry point of the app:

https://docs.expo.io/versions/v18.0.0/guides/configuration.html#entrypoint

It doesn't seem to work though, as the entry point is actually hardcoded into [`node_modules/expo/AppEntry.js`](https://github.com/expo/expo-sdk/blob/master/AppEntry.js#L2).

Am I missing something?

Thanks!

[2017-07-07 12:18] pensierinmusica opened #92 "There's no clear description on how to preload and cache images"
Hi,

The docs describe how to preload and cache images here:

https://docs.expo.io/versions/v18.0.0/guides/preloading-and-caching-assets.html

It is not clear though whether we should use [`Expo.AppLoading`](https://docs.expo.io/versions/v18.0.0/sdk/app-loading.html#app-loading) as described at the top, or the technique described at the bottom in [`github/exponent/new-project-template`](https://gi

[2017-07-08 11:55] kiok46 opened #93 "Broken link"
Link to expo-auth0-example repository is broken and leads to 404. https://docs.expo.io/versions/v18.0.0/guides/using-graphql.html#social-oauth-authentication-providers

In the docs: https://github.com/expo/expo-docs/blob/master/versions/v18.0.0/guides/using-graphql.md#social-oauth-authentication-providers

[2017-07-08 14:56] Haroenv opened #94 "docsearch not working in Safari"
I have a feeling it’s an unrelated part of the javascript that’s not executing, and thus also not executing the search:

<img width="338" alt="screen shot 2017-07-08 at 16 55 15" src="https://user-images.githubusercontent.com/6270048/27986345-5fb91b9e-63fe-11e7-8df7-6c08f565a600.png">
<img width="542" alt="screen shot 2017-07-08 at 16 54 57" src="https://user-images.githubusercontent.com/6270048/2

[2017-07-10 12:21] florentroques commented on #63
Regarding `SQLite.openDatabase`, after asking @nikki on slack, his answer is "only SQLite folder scope".
Will update my answer when I get more news.

[2017-07-12 11:22] cjdcordeiro commented on #14
isn't there a way of making the Android simulator work without genymotion? Just by having Android Studio SDK installed...shouldn't that be enough?

[2017-07-12 11:32] hkrish0 commented on #14
@cjdcordeiro By default there is simulator with the SDK.

[2017-07-12 11:42] cjdcordeiro commented on #14
@hkrish0 I already have it installed, but on expo I'm still getting:
[code]

[2017-07-12 11:47] hkrish0 commented on #14
1.Did you create emulator ?You have to create an emulator first.Check this link
https://www.embarcadero.com/starthere/xe5/mobdevsetup/android/en/creating_an_android_emulator.html
2.OR If you have an android phone use that for running your project

[2017-07-12 11:49] hkrish0 commented on #14
@cjdcordeiro Refer this link also
https://stackoverflow.com/questions/16596877/android-studio-doesnt-see-device/16598454

[2017-07-12 12:55] cjdcordeiro commented on #14
@hkrish0 yes I do have the emulator and I can run it from within Android Studio. the problem seems to be that expo cannot find it

[2017-07-15 04:39] brentvatne commented on #14
@cjdcordeiro - did you try following these steps? https://docs.expo.io/versions/v18.0.0/guides/genymotion.html

[2017-07-15 19:18] brentvatne commented on #94
fixed, thanks

[2017-07-15 19:18] #94 closed

[2017-07-15 19:26] Haroenv commented on #94
Top, it works :100:

[2017-07-15 20:10] brentvatne commented on #76
done

[2017-07-15 20:10] #76 closed

[2017-07-15 20:16] brentvatne commented on #92
Hi @pensierinmusica! It's not clear to me what the difference is -- both of these use the AppLoading component. Can you elaborate? This is definitely an area of the docs that we need to improve. Any more info you can give around what specifically is confusing will be very helpful.

[2017-07-15 20:18] brentvatne commented on #91
I pinged @ide, I think he added this and I'm not sure what it is for. We use the `main` from package.json -- you can change it there if you want, just keep in mind that you will need to use [Expo.registerRootComponent](https://docs.expo.io/versions/v18.0.0/sdk/register-root-component.html) if you do, rather than just `export default`.

[2017-07-15 20:18] brentvatne commented on #83
hard to keep screenshots up to date when we iterate on the UI a bunch, but we should do a better job at it. I'll try to do this next week

[2017-07-15 20:21] brentvatne commented on #90
Good point, we should add more information on this. Basically it allows you to pass in options to the React Native packager, the problem is the React Native packager doesn't really document its options either.. generally you shouldn't need this. Is there something specific that you're trying to do?

[2017-07-15 20:21] brentvatne commented on #90
I created this issue to request documentation for packager options: https://github.com/facebook/metro-bundler/issues/26

[2017-07-15 20:23] #93 closed

[2017-07-15 20:23] brentvatne commented on #93
fixed, thanks!

[2017-07-16 19:54] jkeesh commented on #83
yeah it is a lot to update but does help for new people to keep the docs up
to date
ᐧ

On Sat, Jul 15, 2017 at 1:18 PM, Brent Vatne <notifications@github.com>
wrote:

[2017-07-17 07:45] cjdcordeiro commented on #14
@brentvatne well that still requires genymotion. I'd like to avoid using it completely cause of its free version restrictions

[2017-07-17 21:16] brentvatne commented on #83
done! will be deployed soon

[2017-07-17 21:16] #83 closed

[2017-07-17 21:16] brentvatne commented on #91
indeed this should be removed from docs and from app.json

[2017-07-17 21:18] brentvatne commented on #92
Hopefully this is a little more clear than before: https://github.com/expo/new-project-template/blob/8ce3ef71bbc7645225870f9c7c40ea7fe34b8cf9/App.js#L32-L39

I'll update docs accordingly

[2017-07-22 10:03] pensierinmusica commented on #91
👍🏾

[2017-07-22 13:39] j2l commented on #63
You just solved ony of my main problems!
Thanks!

[2017-07-24 19:40] brentvatne commented on #14
sorry we don't support the stock android emulator

[2017-07-27 12:32] chaffeqa opened #104 "Update SDK reference"
Looks like [sdk reference page](https://docs.expo.io/versions/v19.0.0/sdk/index.html#expo-sdk) is behind by x2 releases

[2017-07-31 04:49] pedrosax commented on #14
@brentvatne - why doesn't Expo support the stock Android Emulator?

[2017-07-31 05:45] brentvatne commented on #14
we are a small team, we don't use the stock android emulator because it is very bad compared to genymotion, it requires a significantly higher qa load to support it

[2017-08-02 09:36] loloof64 commented on #14
Hi, maybe that's the wrong place for asking that, but my Genymotion free license is about to expire in 3 days and I haven't found on their website how to renew it. So I may not be able to test my Expo apps on simulator starting from the next days.

Is there someone in the same case than mine ?

[2017-08-11 05:53] smoll opened #113 "Using knex (websql or sqlite3 dialect?) with Expo.SQLite"
Has anyone got this working? I'm trying to use knex in combination with https://github.com/stems/join-monster to try to tame my sqlite tables using some autogenerated GraphQL goodness. I got a PoC working in nodejs (found the .db file on my Mac, pointed knex with the sqlite3 dialect at it) but when I tried to adapt the code to work in React Native, all of my attempts have fallen flat.

I've tried

[2017-08-11 05:55] smoll commented on #113
On second thought, will post this in the forums.

[2017-08-11 05:55] #113 closed

[2017-08-15 18:34] abi opened #115 "Mention in docs if Expo tokens are stable"
From @slorber, "Note that it may be nice to mention weither or not expo tokens are "stable" unlike Apns/GCM ones that can be revoked by the provider. Not sure about that so I didn't write it."

[2017-08-18 01:09] brentvatne opened #121 "Update receiving-push.md"
4th row is out of date. Also, can I simplify it?

[2017-08-18 17:49] SalahAdDin opened #124 "Project options missing in Linux version"
I created a new project in expo and i whan open it in my editior, but i can't:
![faltanopciones](https://user-images.githubusercontent.com/5034215/29470842-9e8ec7d8-8456-11e7-97ac-750966d0fd07.png)

I'm using the `linux` version and this is env:
[code]

[2017-08-18 19:14] brunoreis opened #126 "Shake Gesture does not work on Motorola X Play (already used by native OS)"
Hi, please, how can I see the developer menu on Motorola X Play? The normal behaviour is to show the camera.

[2017-08-18 21:02] brentvatne commented on #126
Hi there! You will need to disable that behavior currently: https://github.com/facebook/react-native/issues/13490

We may come up with an alternative though, any suggestions? Tracking this on: https://github.com/expo/expo/issues/517

[2017-08-18 21:02] #126 closed

[2017-08-18 21:32] brunoreis commented on #126
When I slide down from the top I see that menu with the notifications and there is also the name of the app in a blue bar with buttons to pin, share and reload. I think there would be a safe place to not conflict. But, I imagine that could run into to risk of unwanted people going to developer menu. But, well, shake gesture also run into that risk. Let's see... what about holding for a while there

[2017-08-18 21:38] brunoreis commented on #126
Turning of the camera gesture unfortunately does not enable using the developer menu.

[2017-08-20 02:42] abi commented on #104
Fixed!

[2017-08-20 02:42] #104 closed

[2017-08-30 14:04] yannickschuchmann opened #140 "MapView: Steps for Standalone Android not working/incomplete"
Hey,
I haven't found any template for submitting issues so I just try to do my best to be understandable.

## Problem:
Currently there are additional steps from the documentation required to make MapView work with a standalone Android app. But after following these steps in detail you end up having a screen with a blank map and a Google logo in the lower left corner. This is only true for standalo

[2017-08-31 03:48] aaronlangford31 opened #141 "Errors using generator functions"
Please forgive me for my illiteracy in React-Native, Babel, etc. Will try to explain this with most detail possible.

After scaffolding the app with Expo's tools, I followed a few tutorials to wrap the app in Redux. I'm using Sagas as my middleware for handling server requests, and other heavy duty operations.

Sagas make use of generator functions to work their magic. After I added in the saga mi

[2017-09-02 23:56] jsvg commented on #141
I'm seeing a similar issue.

Defining any generator function seems to throw an error, e.g. `function* test() {}` will throw `undefined is not an object (evaluating 'regeneratorRuntime.mark')`

Potentially linked to this: https://github.com/facebook/react-native/issues/14838

[2017-09-07 03:05] HuiSF commented on #90
Hi, in (How Expo Works)[https://github.com/expo/expo-docs/blob/master/versions/v20.0.0/guides/how-expo-works.md], there is a example of `app.json`. It includes `packagerOpts` like blow:

[code]
I tried `dev` and `minify`, these two options. When I start the packager, it throws:

[code]

This documentation seems outdated and inaccurate. Could you please update? Thanks.

[2017-09-08 02:36] brentvatne commented on #90
hi @HuiSF - I believe you read the docs incorrectly, what you see there is not an example of an app.json but of an app manifest

[2017-09-08 02:56] HuiSF commented on #90
Thanks @brentvatne

[2017-09-11 09:23] sim-stamplet opened #143 "Location reverseGeocodeAsync returns incorrectly"
reverseGeocodeAsync doesn't return the correct location in text and always return only one result for all coordinates tested
Array [
  Object {
    "name": "North Atlantic Ocean",
  },
]
expected Result is more detailed with street, city and other details :
https://github.com/expo/expo-docs/blob/master/versions/v19.0.0/sdk/location.md

[2017-09-22 09:14] JohnPhoto opened #152 "Unclear format for ìos.associatedDomains`"
It is a bit unclear on which format to supply the associated domains values, a short example would be nice, something like this perhaps:

The items in the array needs to be on the format: `applinks:www.mydomain.com` as documented here [Support Universal Links](https://developer.apple.com/library/content/documentation/General/Conceptual/AppSearch/UniversalLinks.html)

[2017-09-29 10:22] aniltirola opened #162 "To run it on your iOS device -> missing in docs >= sdk 20.0.0"
today we built a standalone app for android with 'exp build:android' --> everyting ok;
then we built a standalone app with for ios with 'exp build:ios' --> build ok --> but then we had problems to install on device;

so in the document for sdk <= 19.0.0, there was the paragraph "To run it on your iOS device, ....";

this paragraph is missing for sdk >= 20.0.0;

1. Is this paragraph from "sdk <= 19

[2017-10-04 17:01] abi commented on #162
I believe the only way to test a production build on the device is to use TestFlight. (Download the .ipa file that's generated, set up TestFlight on Apple's website, upload IPA) Someone added a section about using TestFlight recently to the docs (yet to be deployed).

[2017-10-04 17:05] abi commented on #143
This sounds more like a bug on `expo/expo` than in docs. cc @dikaiosune

[2017-10-04 17:06] abi commented on #141
Also, should be a bug on `expo/expo` rather than here @dikaiosune

[2017-10-04 17:10] abi commented on #140
Great catch, can you send us a PR? :) https://github.com/expo/expo-docs/blob/master/versions/unversioned/sdk/map-view.md

[2017-10-04 17:11] abi commented on #124
Please ask about this on our forums, slack or file a bug on `expo/expo`

[2017-10-04 17:11] #124 closed

[2017-10-04 17:13] abi commented on #92
Closing, because I think it's clear enough in the docs now.

[2017-10-04 17:13] #92 closed

[2017-10-04 21:53] dikaiosune commented on #141
Oops, sorry, didn't notice the repo. Yes, please move this over there, or to our forums.

[2017-10-04 21:53] #141 closed

[2017-10-10 08:30] #162 closed

[2017-10-11 10:06] NunoCardoso commented on #63
I have a problem, I download a DB, and in iOS, I put it on Expo.FileSystem.documentDirectory.replace("file://", "") + 'SQLite'.

I see it on ~/Library/Developer/CoreSimulator/Devices/E1641A61-8A3A-407B-9B1A-61EA5BAE47EC/data/Containers/Data/Application/5EC8AD6E-2382-4ABF-BC30-541867521539/Documents/ExponentExperienceData/%2540nuno%252F{appname}/SQLite

but when I load the app, it creates a blank o

[2017-10-12 10:11] alexrussell opened #174 "ScreenOreintation API suggests that multiple calls perform a logical OR on arguments, but I didn't find that it did."
In [ScreenOrientation](https://docs.expo.io/versions/latest/sdk/screen-orientation.html) it is stated:

But I didn't find this to be the case. Specifically, I was wondering how to, after setting to `ALL` for example, set back to portrait-only. It turns out you just set `PORTRAIT` and it works (or at least did for me - it'd be worth checking that what I am saying is correct before updating the docs

[2017-10-17 16:25] Quadriphobs1 opened #175 "Cannot Install or run exp cli"
Each time i run `npm i -g exp` i get same error as this
npm WARN react-redux@5.0.6 requires a peer of react@^0.14.0 || ^15.0.0-0 || ^16.0.0-0 but none is installed. You must install peer dependencies yourself.

npm ERR! code EINTEGRITY
npm ERR! sha512-ybLKof9FyVAhNY+hVyGVQF2Br65uyYfrkBNTdiyxfObiHdSn8zvrZ/B62a3E0bbnb6f9VSpcVSfvEJtPqG0wMg== integrity checksum failed when using sha512: wanted sha512-

[2017-10-17 17:56] abi commented on #175
That's weird, but please open the issue on expo/expo, rather than here. You'll probably get a quicker answer on our Slack.

[2017-10-17 17:56] #175 closed

[2017-10-17 18:16] Quadriphobs1 commented on #175
No bo seems to answer me on slack i posted the question therr

On Oct 17, 2017 19:08, "Abi Raja" <notifications@github.com> wrote:

[2017-10-23 10:22] wodin opened #179 "Scroll position doesn't always work properly"
While fixing some typos in the Glossary I found that the scroll position doesn't always work well.

e.g. if you scroll down to the exp entry in the Glossary and click on the Read more link you get taken to guides/exp-cli.html, but instead of being positioned at the top of the page the scroll position is a little way down the page, as if something is remembering the scroll position in the Glossary

[2017-10-24 16:15] charliemitchell opened #181 "Dash Integration"
Hello,
Can someone really cool, smart and awesome create a version for Dash? I know there has to be someone involved in this project that could wave a magic wand, bark some incantations, and produce a Dash doc set for Expo in a short amount of time. If you're reading this, It's probably you. Imagine the praise and glory you'll receive for pulling this off! 🤣

[Dash](https://kapeli.com/dash)

Maybe

[2017-10-24 16:42] BradRyan commented on #14
Genymotion is actually fairly expensive (if you are doing anything but making a "just for fun app") and from what I've read online the Android Studios emulator has gotten much better in recent times.  Not sure if that helps support the case for supporting the Android Studio emulator.

I haven't personally used either of them yet, just going off a bit of research before deciding what to do.  Is it

[2017-10-25 20:45] brentvatne commented on #181
@charliemitchell sounds cool, I don't use dash though, maybe you can do it ;)

[2017-10-29 17:34] gaving commented on #63
Can anyone confirm if this works on the latest SDK (i.e. 22) for them?

Having issues here:- https://gist.github.com/gaving/a2b54a96192624e3801dc8db5bd5e00f

Basically just getting a "Error code 10: disk I/O error" even though it's opening the file.. started delving into the websql package + WebSQLTransaction.js file before quickly glazing over. 😱

[2017-11-05 15:46] anuragnagarkota opened #188 "How to send Big Picuture"
Hey there

Can we send big picture along with the push notification

Thanks

[2017-11-05 20:27] omarshiha opened #189 "how to Create an Android OAuth Client ID"
i am following the steps to create an Android OAuth Client ID to enable google sign in for my react native app, but dont know how to Create an Android OAuth Client ID as when i run this comman 'openssl rand -base64 32 | openssl sha1 -c' it gives me this ERROR  "openssl' is not recognized as an internal or external command"!

[2017-11-06 21:10] brentvatne commented on #189
ah, sounds like you might need to install openssl. Instructions may vary depending on whether you're running windows/macos/linux/whatever -- on mac I would run `brew install openssl`, try googling the alternative for your platform

[2017-11-08 09:05] jean opened #190 "docs.expo.io connection is not secure"
Firefox warns that the site is not secure because of mixed content.
This is not a good look.

![screenshot from 2017-11-08 16-04-50](https://user-images.githubusercontent.com/84800/32540228-9dbb148c-c49e-11e7-8725-2e73c2afd544.png)

[2017-11-08 15:44] abi commented on #188
Please ask in our forums, or slacks. Not an issue.

[2017-11-08 15:44] #188 closed

[2017-11-14 23:50] ryanhomer opened #194 "SDK 22 Questions"
I've just updated to SDK 22, deleted `node_modules` and did a fresh `npm install`. I'm getting the following 2 warnings:
[code]

1. Is this expected and can I safely ignore these warnings?
1. Also, are you still recommending we use npm v4.6.1?

[2017-11-15 00:33] brentvatne commented on #194
Hi @ryanhomer!

Peer dependency warnings are pretty annoying and caused by npm's opinion on semantic versioning should work for peer dependencies -- according to npm, >= 15.0.0 does not match 16.0.0-beta.5, and so you see this warning. Yarn handles this better, in my opinion, and doesn't give you a peer dependency warning for this case. See this issue for more info: https://github.com/npm/npm/issu

[2017-11-15 00:33] #194 closed

[2017-11-15 00:48] brentvatne commented on #190
Chrome doesn't have an issue with it -- @skevy, any idea what's going on here?

[2017-11-15 00:56] skevy commented on #190
It's not clear to me why this is happening to you...every browser I use shows the page as encrypted. Can you try a different browser to see if you get a different result?

[2017-11-15 05:05] jean commented on #190
Hmm! Now Firefox is :100: too ... I'll reopen with more details if I see it again ..

[2017-11-15 05:05] #190 closed

[2017-11-21 07:30] hueyy opened #197 "ImagePicker invalid URI"
The URI returned from the ImagePicker on an Android device is a little strange:
<pre>
file:///file%3A/data/user/0/host.exp.exponent/cache/ExperienceData/%252540anonymous%25252Fbookswap-ffc75952-eda5-4edc-a172-4c07f3580b98/ImagePicker/30b656a3-c073-44e3-a7f9-38c765ac959e.jpg
</pre>

There is an additional `file%3A/` portion that appears to be `file:/` encoded. This issue appears to be new; I did no

[2017-11-21 07:30] #197 closed

[2017-11-23 15:30] alexrussell opened #198 "Document how to set custom "Permissions" messages"
It'd be really useful (until [my feature request](https://expo.canny.io/feature-requests/p/customisable-permission-descriptions) is implemented 😉 ) if the docs could mention how one could set custom descriptions associated to Permissions usages.

This actually came from me having an app rejected from the App Store due to (in part) accessing the camera without giving a reason other than the default

[2017-11-29 10:05] mlukasch opened #202 "Delete apk from Cloud"
Hello,
I have build the apk via exp build:android.
And I get an URL where to download the apk-file.
But this is publicly available.

How do I remove this apk from the cloud?
Havent found anything in the docs.

[2017-11-30 20:42] omarshiha commented on #189
i installed it but still error, i type it exactly like this
rand -base64 32 | openssl sha1 -c
is there anything wrong ?

[2017-12-02 21:59] brentvatne commented on #202
you cannot do this

[2017-12-02 21:59] #202 closed

[2017-12-02 22:00] brentvatne commented on #189
i've never had this problem before. can you try googling this problem? the instructions i gave there apply to any android project so there are probably many more resources out there

[2017-12-02 22:01] brentvatne commented on #198
it sounds like you know how to do this, can you submit a PR to add it?

[2017-12-02 22:03] brentvatne commented on #179
hi there! can you submit a pr for this if it is important to you? I haven't noticed it before.

worth noting also that we're currently re-writing our docs to use next.js, perhaps a fix will just fall out of that, cc @abi

[2017-12-02 22:03] brentvatne commented on #152
agree, we need some example values

[2017-12-02 22:05] brentvatne commented on #143
please create an example on snack.expo.io, and post it along with a description of what you expect to see and what you actually see on http://github.com/expo/expo

[2017-12-02 22:05] #143 closed

[2017-12-02 22:05] brentvatne commented on #140
sorry I don't understand the problem. I have followed the exact steps and it worked as expected :\

[2017-12-02 22:06] #121 closed

[2017-12-02 22:06] brentvatne commented on #91
created issue for this internally, we will remove entry point entirely

[2017-12-02 22:07] #91 closed

[2017-12-02 22:07] #90 closed

[2017-12-02 22:07] #74 closed

[2017-12-03 06:34] wodin commented on #179
Hi

Do you mean you can't reproduce this? Or that you just don't notice it unless you're specifically looking for it?

I suspect this behaviour could cause some slight confusion for people following internal links in the docs. Unfortunately I don't know where the problem is, so I don't have a pull request for you. Since you're moving to next.js it's probably not worth worrying about this until tha

[2017-12-03 20:57] abi opened #204 "bar-code-scanner.md missing closing ` quotes"

[2017-12-03 21:02] abi opened #205 "<img> tags in create-floatyplane-game.md and using-graphql.md are not closed"
`<img src="http://i.imgur.com/F1Xkzu1.png" width="100px">
-> <img src="http://i.imgur.com/F1Xkzu1.png" width="100px" />`

[2017-12-03 21:03] abi opened #206 "img links are broken in "Up and Running""
` [![Refresh using Expo buttons](./expo-refresh.png)](/_images/expo-refresh.png)`

and

` [![In-app developer menu](./developer-menu.png)](/_images/developer-menu.png)`

[2017-12-04 11:35] abi commented on #204
Ignore this. Fixed in next docs.

[2017-12-04 11:35] #204 closed

[2017-12-04 11:47] abi commented on #205
Ignore this. Fixed in next docs.

[2017-12-04 11:47] #205 closed

[2017-12-04 14:45] abi commented on #179
@wodin Thanks for pointing this out! I can repro your second example on the linking page. Maintaining correct scroll position is definitely important for good UX. On our next.js website, this should be fixed.

[2017-12-04 14:45] #179 closed

[2017-12-04 15:22] RoyiNamir commented on #14
@loloof64 myne also. No longer free version?

[2017-12-05 02:21] NaveenDK opened #207 "Possible Unhandled Promise Rejection :TypeError this.camera.takePicture() is not a function"
I have the same code as shown in the repo : But not sure why I am getting the error saying the above , any help would be great!
Thanks

[2017-12-05 14:15] alexrussell commented on #198
I'm more than happy to do so but I can only talk for iOS. I have no idea how to do the same thing in Android (or whether you can or even need to). That's why I opened this as an issue rather than a PR - I don't have the full knowledge.

Shall I go ahead and do so for iOS only, or leave this open for someone with knowledge of both methods to do properly?

[2017-12-07 16:02] GitTom opened #211 "Can't create account on expo.io"
I'm trying to create an Expo account at:
https://expo.io/signup

I've tried a couple times, but when I click the 'create your account' button I get a small bubble with the message "an unknown error has occurred".

I'm doing e-mail (vs. GitHub) account creation.

[2017-12-08 03:35] wodin commented on #179
FYI, this is mostly fixed now, but this part is still a problem:

[2017-12-08 17:08] GitTom commented on #211
Tried again day later.  Same result.

Changed username, and somehow this caused it to work.  Strange.

[2017-12-08 17:08] #211 closed

[2017-12-08 22:54] Edward-Alozieuwa commented on #175
hi, please i am having the same issue and i cant find a solution

[2017-12-09 19:48] sasssssha opened #213 "detaching for ios native modules"
Greetings, I need some modules which use native code for my project and i decided to make a detach
But this part of docs isn't clear for me:

This step ensures the native iOS project is correctly configured and ready for development.
-Make sure you have the latest Xcode.
-If you don’t have it already, install CocoaPods, which is a native dependency manager for iOS.
-Run pod install from your proje

[2017-12-09 20:22] AdamJNavarro commented on #213
Hey sassssha, I'll try and shed some light on your questions:

1. Once your project uses native modules that aren't part of the Expo SDK, you need to build the app via Xcode or Android Studio and run it with those programs. The Expo client isn't able to run additional native modules.

2. Once you detach your project, you can make any native code changes you want.

3. Detaching is only necessary if

[2017-12-09 20:26] AdamJNavarro commented on #207
Hey NaveenDK,

If you haven't resolved this issue, can you please create a post on our forums https://forums.expo.io/ with all relevant code and information. This way if other Expo users run into the same issue, they can see how it was (hopefully) fixed.

Cheers,

Adam

[2017-12-09 20:26] #207 closed

[2017-12-10 00:11] sasssssha commented on #213
Thx for reply, AdamJNavarro
But I still don't understand if i am able write only jsx without native code (use only linked modules)
And why i get no result while trying to open app in client right after detach

[2017-12-11 18:52] carsonwah opened #214 "Clear returned info for Permission module"
[About the Permission module](https://github.com/expo/expo-docs/blob/master/versions/v23.0.0/sdk/permissions.md)

Now it just said it returns `status, expiration and scope`. Should we write them out clearly instead of developers guessing around?

I'm not sure about expiration and scope. As far as I know, status includes `undetermined, denied and granted`, but I can't be certain enough to make a pu

[2017-12-15 08:20] diabolusss commented on #14
![geny_free](https://user-images.githubusercontent.com/8426197/34032914-cbbf02a4-e180-11e7-9109-55f4225af649.png)
Free license still exist, only on each emulator run you'll receive this annoying message. And each time you must approve license agreement. And you can't sign in with genymotion account as it will be handled as business account(haven't found how to change that).

[2017-12-19 14:03] Architektor opened #216 "registerForPushNotificationsAsync clarification"
Hello guys, can anybody explain what actually `registerForPushNotificationsAsync ` is?
The [example](https://docs.expo.io/versions/latest/guides/push-notifications.html#3-handle-receiving-andor-selecting-the-notification) from the docs just tells to import and call it,
but i don't have `registerForPushNotificationsAsync` module and i'm getting an error that it is not found in module map. Can someo

[2017-12-20 14:52] nicoara opened #218 "can I install on real iPhone device from Mac virtual machine?"
Hello,

I have a virtual machine with MacOS on a Windows host. I want to be able to run the Expo app on my own real iPhone device. How to proceed, given that the exp://192.168,0.2 is a local address that is not visible outside the virtual machine?
Inside Expo XDE, the Device button shows only the simulator, and Share will provide a qr code with the local address.

Thank you

[2017-12-22 09:23] nicoara commented on #218
hello, anyone is paying attention to the issues forum?

[2017-12-25 17:21] ceefour opened #223 "Update "Using GraphQL" with Apollo Client 2.0 example"
Currently this is out-of-date and will not work:

https://github.com/expo/expo-docs/blob/master/versions/v24.0.0/guides/using-graphql.md

Reason: https://github.com/apollographql/apollo-client/issues/2458#issuecomment-341436641

New instructions: https://github.com/apollographql/apollo-client/blob/master/Upgrade.md

[2017-12-30 16:54] insaneadinesia opened #228 "wrong size after resize with Image Manipulator"
Hello,
In the latest expo sdk version, I use Image Manipulator to resize local image before upload to server. But I found something wrong.

I resize image to height: 100 and width: 100. In the promise after image resized, it say height and width is 100 (just like what I want), but after I upload image to server and download that image to my local computer, the dimensions is not 100 x 100, but 200

[2018-01-03 20:34] suhshinhwang opened #230 "Increase Documentation section size"
I'm reading the documentation and find it difficult to find where the separation of parameters/methods/props are. Take a look at below example (taken from the [AV documentation](https://docs.expo.io/versions/latest/sdk/av.html)). The words `Parameters` and `Returns` are much bigger and have heavier font weight than the method itself (`playbackObject.replayAsync(statusToSet)`).

This is incredibly

[2018-01-06 22:45] truca commented on #216
I found an example [here](https://snack.expo.io/ry526Qu3e)

[2018-01-10 21:56] duckbrain opened #232 "Clarify Release Channel configuration for Expokit"
https://github.com/expo/expo-docs/blob/master/versions/v24.0.0/guides/release-channels.md#using-release-channels-with-expokit

Are there better paths to the files mentioned? I can't find `Constants.java`. I found `.expo-source/app/src/main/java/host/exp/exponent/generated/AppConstants.java`, with the `RELEASE_CHANNEL` constant, which I think works.

[2018-01-13 21:29] nicholascarroll opened #233 "documentation error using-clojurescript.md"
Hi,
The doc [using-clojurescript.md](https://github.com/expo/expo-docs/blob/master/versions/v24.0.0/guides/using-clojurescript.md) seems not to work, giving errors on conencting with an ios device. Said no main.js found.
But after generating a main.js by running "exp publish", it works.

[2018-01-14 02:08] #233 closed

[2018-01-14 02:08] nicholascarroll commented on #233
closing because cannot replicate

[2018-01-16 09:40] carsonwah opened #234 "Font.loadAsync() returning Promise is not documented"
### Related page:
https://docs.expo.io/versions/latest/sdk/font.html

### Now
The doc states that `Font.loadAsync()` "Doesn’t return anything".

### Expected
`Font.loadAsync()` is actually returning a Promise object just like that in [`Asset.loadAsync()`](https://docs.expo.io/versions/latest/sdk/asset.html#expoassetloadasyncmodules).

### Comment
It is misleading as I was following [Preloading & C

[2018-01-26 09:31] fvieira commented on #198
I just had my app rejected on iOS for the same reason, and had no problem on Android, so I'd say having this for iOS only would already be useful!

[2018-01-26 09:51] alexrussell commented on #198
@fvieira turns out this is done: https://docs.expo.io/versions/latest/guides/app-stores.html#system-permissions-dialogs-on-ios

Closing!

[2018-01-26 09:51] #198 closed

[2018-02-04 13:26] hklcf commented on #14
@diabolusss but when you download fun-zone version, it need you login first, but my account is free license account :(

[2018-02-05 06:57] martsie commented on #90
Sorry to re-open this issue but what is the app manifest? I've been looking at https://github.com/expo/expo-docs/blob/master/versions/v23.0.0/guides/how-expo-works.md but the only file it mentions is app.json. I'd like to change the dev flag and minify flag so that I can debug a production build of my app.

[2018-02-10 21:52] nicholascarroll opened #245 "clojurescript doc incorrect"
Hi,
the doc here
https://github.com/expo/expo-docs/blob/master/versions/v25.0.0/guides/using-clojurescript.md
it doesn't work. I am on Windows.

If I follow the guide, I will do this:
lein new expo your-project
cd your-project && yarn install
exp start

And then its says I have no main.js
So I do this
lein prod-build
and then
exp start
and yes I can connect from my iphone.
However.....
i am gettin

[2018-02-10 21:55] nicholascarroll commented on #245
also links dont work https://github.com/expo/expo-docs/blob/master/versions/v25.0.0/guides/exp-cli.html#exp-cli

[2018-02-11 21:52] nicholascarroll commented on #245
OK I figured it out. The doc neglects to mention that you need to put your IP address in .lan-ip.
I did get it working on Windows with an physical iphone connected, the correct steps are in pull request #246

[2018-02-11 21:52] #245 closed

[2018-02-12 19:28] sheepsteak opened #247 "Unable to run locally on fresh install"
I'm getting an error when trying to run locally.

* Fresh clone
* `yarn` in root
* `cd gatsby && yarn`
* `cd ..`
* `yarn start`

Gives following error:

[code]

It looks like it's this issue as expo-docs is currently running an old version of Gatsby - https://github.com/gatsbyjs/gatsby/issues/2200

I did try and upgrade to `gatsby@1.9.43` that contains the fix but then other things were breaking;

[2018-02-20 05:28] Eishpirate commented on #247
Yep, I'm finding the same issue.

[2018-03-01 13:07] arunxampr opened #258 "Contacts is very slow"

[2018-03-03 12:02] isaachinman commented on #91
@brentvatne So is it not possible to specify a custom entry point? Seems like a valid (and easy) thing to support. Regardless, `entryPoint` is still in the docs.

[2018-03-05 16:02] nixololo opened #261 "`Install and configure Sentry` section is not clean"
[Sign up for a Sentry account and create a project](https://docs.expo.io/versions/latest/guides/using-sentry.html#sign-up-for-a-sentry-account-and-create-a-project) section on sentry integration docs described pretty well and have all information that you need to finish this step.
But [Install and configure Sentry](https://docs.expo.io/versions/latest/guides/using-sentry.html#open-appjson-and-add-

[2018-03-05 18:20] brentvatne commented on #261
can you submit a PR?

[2018-03-06 06:42] nixololo commented on #261
@brentvatne yep can do in a couple of days 👍

[2018-03-07 00:02] rigorojas commented on #91
in package.js
----
{
  "main": "./index.expo.js",
  ...
}

in index.expo.js
----
import { KeepAwake, registerRootComponent } from 'expo';
import App from './src/Main.js';

if (__DEV__) {
  KeepAwake.activate();
}

registerRootComponent(App);

----
Works as expected for me.

[2018-03-07 01:17] brentvatne commented on #91
`main` works, it's the `entryPoint` key that doesn't :)

[2018-03-07 07:59] isaachinman commented on #91
Yes sorry, I found this info elsewhere and forgot to report back here. The desired effect is possible via `main` and `registerRootComponent`, but `entryPoint` is indeed misleading and broken.

[2018-03-08 11:02] kotakpensil commented on #90
cmiiw

[code]

[2018-03-09 16:26] corysimmons commented on #14
Can confirm Expo now costs $126/yr for solo dev.

https://www.genymotion.com/blog/2-9-0-android-7-1-new-trial-system/

It's a 30 day trial then you go back to "Fun Zone" version which has 1 image, and that image is broken because of Image vs Genymotion version mismatches (I suppose one could find an old version of Genymotion somewhere and hope it doesn't auto-update).

"Updating" as it instructs j

[2018-03-09 19:41] jesseruder commented on #14
@corysimmons we recommend Genymotion because it generally works better than the Android Studio emulators. It should work fine on the Android Studio emulator. If you run into an problem with it you can create a new issue.

That would be great! Please submit a PR here https://github.com/expo/expo-docs if you think something is confusing.

[2018-03-14 02:57] rodrigore commented on #63
@gaving  I also have this error in SDK 25.

Did you solve the problem?

[2018-03-14 10:16] gaving commented on #63
@rodrigore Sad to say I didn't, cost me hours before I eventually gave up! 😢

[2018-03-18 10:43] moskh opened #267 "components life cycle methods"
I do not know if this is a serious issue, but most subscriptions in the documentation are used in the componentWillMount method, but according to the official React documentation on this method (
@https://reactjs.org/docs/react-component.html#componentdidmount):

Could someone correct me if I am wrong?

[2018-03-22 14:51] agiron123 opened #270 "Calendar API Docs"
I'd like to open an issue in regards to some of the problems I faced yesterday while working with the Calendar API. I'm happy to submit a PR once we can figure out the best format to present this information.

Here's a rundown of my process working with the calendar API yesterday:

First, I started off trying to get all the calendars that are on my device. So, naturally, I tried to call
Expo.Calen

[2018-03-25 00:36] eriveltonelias commented on #216
Hi @Architektor!
`registerForPushNotificationsAsync ` isn't a module, it's just a function that gets your push token and sent it to your server ( if you have it ) every time when your app is loaded, and you can found it on `/api` folder.

[2018-03-25 00:37] eriveltonelias commented on #216
@brentvatne can you close this issue?

[2018-03-25 01:01] eriveltonelias commented on #218
Hi @nicoara,

You can just change your Host setting on your Expo XDE, try to change `LAN` to `Tunnel`, will work.

[2018-03-25 05:17] #216 closed

[2018-03-25 05:17] ide commented on #216
We'll update the docs for the next SDK to make this clearer.

[2018-03-30 18:06] nthgol opened #275 "Push Notification Table"
on iOS, the Notifications.addListener picks up all three allowable cases in the table below:
![image](https://user-images.githubusercontent.com/26420958/38147671-473d5e42-3421-11e8-800e-f0216476e278.png)

Please update the table to make it clear that reaching into props.exp.notification in App.js (root component) is not necessary? (Maybe someone can confirm this on android.)
Additionally, i find t

[2018-04-04 19:27] ansonhoyt opened #278 "Docs site is offline"
Started getting a 502 Bad Gateway error from Nginx for https://docs.expo.io/

It isn't just me: http://www.isitdownrightnow.com/docs.expo.io.html

You probably know already, but I didn't see any tweets or blog posts about it, so...

[2018-04-05 11:31] ansonhoyt commented on #278
Working now

[2018-04-05 11:31] #278 closed

[2018-04-06 14:01] eriveltonelias commented on #213
Hey @sasssssha!
Yes, you're able to keep working with just JS ( You don't need to write native code if you don't want and you can use native modules ), and since you detach you need run it on Xcode and/or Android Studio has @AdamJNavarro told you.

So, when you detach, to emulate your app need have run your project ( exp start or by XDE ) and run it on Xcode or Android Studio, to see it on the dev

[2018-04-06 14:02] eriveltonelias commented on #213
@ide @brentvatne

can you close this issue?

[2018-04-06 15:53] #213 closed

[2018-04-13 06:39] linfeizhang opened #282 "Error while gathering & validating credentials"
![Uploading QQ20180413-143726.png…]()

[2018-04-13 06:40] linfeizhang commented on #282
provisioning profiles from your Apple Developer account.

Note: Expo does not keep your Apple ID or your Apple password.

? What's your Apple ID?
? Password? [hidden]
14:22:30 [exp] Validating Credentials...
14:22:36 [exp] Only 1 team associated with your account, using Team ID:
? Will you provide your own Distribution Certificate? Let Expo handle the proces
s
? Will you provide your own Push Cert

[2018-04-13 11:07] rokit commented on #14
How do you connect Expo to the Android Studio emulator? I can't find anything about this in the docs.

[2018-04-17 07:02] riwu opened #284 "versionpatch.sh: can't find file to patch at input line"
When creating https://github.com/expo/expo-docs/pull/283, I tried to run `versionpatch.sh` but got the following error:
[code]

[2018-04-23 10:45] zhaozhiming opened #286 "Offline support maybe have something wrong?"
Hi, I found the sentence in `offline-support.md` maybe have a little problem.
The sentence as follow. Should it be `To **unable** background JS downloads...`?
Because `fallbackToCacheTimeout` is the time to fetch updates before use cached.
So when it set to 0, it will not download JS update and use cached immediately.
Am I right? Or something I misunderstand?  Please Help. Thanks.

The fallbackToC

[2018-04-25 12:31] carsonwah opened #287 "LinearGradient props are outdated"
Related page: https://docs.expo.io/versions/v26.0.0/sdk/linear-gradient

`start` and `end` should be like `{x: 0, y: 1}` now.

Doc: https://github.com/react-native-community/react-native-linear-gradient

[2018-04-27 00:16] JustinJKlein opened #289 "Saving to phone gallery from expo camera"
I am having trouble saving the pictures I am taking with my app to the gallery of my phone. I really believe that the basic implementation docs for this should include this portion of functionality. Right now there is not a ton of documentation available on how to do this external to your docs.

I am able to see the pictures I have taken when I hit gallery within the app but when I hit save to gal

[2018-04-27 15:28] thekyriarchy opened #291 "Audio API reference examples several months out of date on expo.io"
https://docs.expo.io/versions/latest/sdk/audio.html

- https://github.com/expo/audio-recording-example/issues/8
- https://github.com/expo/playlist-example/issues/12

[2018-05-02 01:46] smaclell commented on #258
Hello @arunxampr! You might want try to upgrading to [v27](https://blog.expo.io/expo-sdk-v27-0-0-is-now-available-898bf1e5b0e4) to see if it is faster. The release includes a big improvement to contacts on android from this [pr](https://github.com/expo/expo/pull/1349). Good luck!

[2018-05-04 02:50] mrdhood opened #294 "Facebook Ads "AdChoices""
Facebook Audience Network requires an "AdChoices" element that is clickable and opens the adchoices page. I'm having trouble figuring out how to embed this. Is it possible?

[2018-05-06 05:36] lee5214 opened #297 "Lottie code sample not working"
I copied this sample code from [here](https://docs.expo.io/versions/v27.0.0/sdk/lottie) into an empty screen of my project, it shows only the restart button, the animation didn't render.

error message:
[code]
So I checked the code and found out this function causing this problem.
[code]
It uses fetch() to query JSON data, it returns a promise but didn't handle the response.
react-native doc about

[2018-05-06 05:45] lee5214 commented on #297
I refactored the method and saved into a snack sample [here](https://snack.expo.io/Byu2WM2af).
Tested, it works for each version, so I submitted a pr for quick fix, please check.
#298

[2018-05-07 03:54] becnichelesmith opened #299 "facebook auth"
The [guide](https://docs.expo.io/versions/v27.0.0/sdk/facebook) for Facebook Login is outdated

Link: https://docs.expo.io/versions/v27.0.0/sdk/facebook

[2018-05-08 01:19] jimmylee commented on #299
Hey @becnichelesmith thank you so much for bringing this to my intention!

do you remember what parts were out of date?

[2018-05-08 01:19] jimmylee commented on #297
Thank you so much @lee5214 and I'm so sorry it took me so long to get back to you. I've landed your PR and I love the animation.

[2018-05-08 01:19] #297 closed

[2018-05-08 01:37] jimmylee commented on #291
I've updated https://expo.io/@community/audio-recording-example so that it is using SDK21 which should work for now.

If you end up stumbling upon a really cool audio example/kitchensink or making your own, I'd love to replace it.

[2018-05-08 01:37] #291 closed

[2018-05-08 01:40] jimmylee commented on #289
Hey @JustinJKlein !

The best place to get help for this problem is at https://forums.expo.io or https://slack.expo.io. If you post your question there I'm pretty sure someone will get to it.

I'll keep an eye out for your question and try to update the docs here as well. Closing this for now, but feel free to open a new issue once you've solved your problem and you want to share how the docs coul

[2018-05-08 01:40] #289 closed

[2018-05-08 01:43] jimmylee commented on #230
We've updated the documentation visually since Jan 3rd so I'm closing this now.

[2018-05-08 01:43] #230 closed

[2018-05-08 01:44] jimmylee commented on #140
I'm going to close this issue since its been a while since any follow up. Feel free to open another issue if more problems arise.

[2018-05-08 01:44] #140 closed

[2018-05-08 01:45] jimmylee commented on #189
Closing this issue, feel free to reopen if the problem occurs again.

[2018-05-08 01:45] #189 closed

[2018-05-08 01:45] #206 closed

[2018-05-08 01:47] jimmylee commented on #218
Thanks @eriveltonelias, since there hasn't been any dialogue for a while, I'm closing this issue. Feel free to open a new one if changing to `LAN` or `Tunnel` didn't work for you.

[2018-05-08 01:47] #218 closed

[2018-05-08 01:49] jimmylee commented on #223
Closing this since we have had a couple of SDK revisions since then. I don't see any current references to createNetworkInterface

[2018-05-08 01:49] #223 closed

[2018-05-08 01:50] jimmylee commented on #228
Hey @insaneadinesia, the best place to post this on our:

https://forums.expo.io
https://slack.expo.io

Sorry it took so long for anyone to get to this. Feel free to open another issue if you find any issues with our docs.

[2018-05-08 01:50] #228 closed

[2018-05-08 01:51] jimmylee commented on #247
We've changed the docs completely now and they no longer use `gatsby`. Please open another issue if you have difficulty opening our new docs.

[2018-05-08 01:51] #247 closed

[2018-05-08 01:52] jimmylee commented on #261
Thank you @nixololo ! Closing this.

[2018-05-08 01:52] #261 closed

[2018-05-08 01:52] jimmylee commented on #267
What are you concerned about?

[2018-05-08 01:53] jimmylee commented on #270
Your walkthrough is useful. I do think a kitchen-sink example would be useful, is there any chance you could submit us a PR?

[2018-05-08 01:55] jimmylee commented on #275
@nthgol you bring up some really good points.

I think submitting a png is all thats needed, but I should just make it a markdown table instead because theres no point for it to be an image.

[2018-05-08 01:56] jimmylee commented on #282
Hey @linfeizhang thanks for sharing some of the problems you are having.

To get support, you should post to:

https://slack.expo.io
https://forums.expo.io

I'm going to close this. Feel free to submit another issue if you have some ideas for how to improve our documentation, and feel free to submit a PR if we should update a certain part of our docs.

[2018-05-08 01:56] #282 closed

[2018-05-08 01:57] jimmylee commented on #284
Are you still getting this error? Sorry I missed this issue I should have followed up sooner :(

[2018-05-08 02:50] riwu commented on #284
Did you update the script?
https://github.com/expo/expo-docs/commit/92808fdbf0296af648f4c28df053da9fc15b7c5c you removed the `scripts` folder  but did not add the `__internal__` folder. Gitignored perhaps?

[2018-05-08 06:57] moskh commented on #267
According to the react documentation, componentWillMount is deprecated.

[2018-05-09 01:57] jimmylee commented on #294
Awesome! Thanks for keeping us updated :)

[2018-05-16 20:26] jimmylee commented on #284
I'll restore the scripts folder since people depend on this.

[2018-05-17 18:42] jimmylee commented on #275
I've updated the docs to use a table. There are some issues with using `{`, `}`, and other symbols besides plain text for now, but I'll look into getting those resolved.

Feel free to submit a PR if you want any of that information changed.

[2018-05-17 18:42] #275 closed

[2018-05-17 18:43] jimmylee commented on #284
I've restored the scripts folder, sorry about that @riwu that must've looked really weird on our part 😆

[2018-05-17 18:45] jimmylee opened #300 "Tables do not support inline code or curly brace."
If a user tries to add inline code or curly brace symbols inside of a table, the markdown parser breaks.

[2018-05-20 01:57] riwu commented on #284
Np. Just tested it, still getting same error as above. It does work if I enter `sdk/filesystem.md` in the subsequent `File to patch:` prompt though.

[2018-05-23 14:29] johnneed opened #303 "Typo in Haptic Control Doc"
https://docs.expo.io/versions/v27.0.0/sdk/haptic

"Private" is misspelled.

Current Text:

"Using priavte API will get your app rejected"

Should Read:
"Using private API will get your app rejected"

[2018-05-25 00:16] brentvatne commented on #303
thanks, fixed in https://github.com/expo/expo-docs/commit/301099aa67b73bca973857cced19bf03e21b7a22

will be deployed next time docs go out

[2018-05-25 00:16] #303 closed

[2018-05-25 00:26] #181 closed

[2018-05-25 00:26] #234 closed

[2018-05-25 00:29] #286 closed

[2018-05-25 00:30] brentvatne commented on #286
I agree this wording is not clear! Updated docs to improve it

[2018-05-25 00:30] #294 closed

[2018-05-25 00:30] brentvatne commented on #267
yeah we should update this to add subscriptions in `componentDidMount`! pr welcome

[2018-05-25 00:33] brentvatne commented on #284
works on my machine right now:

[code]

[2018-05-25 00:33] #284 closed

[2018-05-25 00:34] brentvatne commented on #214
this definitely seems worth clarifying!

[2018-05-27 11:42] OliverCole opened #305 "404 in docs"
https://docs.expo.io/versions/latest/workflow/how-expo-works
Links to:
https://docs.expo.io/versions/latest/workflow/building-standalone-apps.html#building-standalone-apps
Which is missing.

[2018-05-27 19:44] moshfeu commented on #91
@rigorojas seems to be `__DEV__` rather than `DEV`, right?

[2018-05-30 17:46] #305 closed

[2018-05-30 17:49] terribleben commented on #305
Thanks!

[2018-06-01 09:07] anonym24 commented on #14
free version stopped working:

using this link you can only go to buy full version...

[2018-06-06 12:50] VishalVema opened #310 "Playstore Your app currently targets API level 25 and must target at least API level 26 to ensure it is built on the latest APIs optimised for security and performance."
When i am trying to roll out my app to the playstore it shows me an error message the snap of the error message is below please help me i have to rollout my app your help is appreciated
![issue target api](https://user-images.githubusercontent.com/22855727/41039165-321bf742-69b6-11e8-94b9-9f401ee90648.PNG)

[2018-06-06 14:43] AdamJNavarro commented on #310
Hey @VishalVema,

This is just a warning and it does not inhibit you from rolling your app out. I'd double check everything else in the Play Console to see what is actually making you unable to rollout. We are making the change so our builders target API Level 26 very soon. https://blog.expo.io/breaking-change-coming-to-android-apps-3116927f0424

Cheers,

Adam

[2018-06-06 14:43] #310 closed

[2018-06-07 05:59] VishalVema commented on #310
Thank you so much and yes you are right it was the problem of content rating and store listing my bad and now everything working fine

[2018-06-10 07:10] murffious opened #314 "Using Google Fonts with Expo/React Native"
When trying to follow the Fonts section in the Expo DOCS I found that all I got was errors the last being “loading fonts from remote URIs is temporarily not supported.” So if you want to use Google Fonts in RN Expo follow this article.

Since this article has almost 1200 read and 2000 views (72 claps) on Medium I figured it might be able to make it into the DOCS someday. I'd love to help.
https://

[2018-06-13 00:42] #232 closed

[2018-06-22 00:22] gregbenner opened #318 "Mention the new no publish flag in the docs"
[This issue](https://github.com/expo/expo/issues/63#issuecomment-399213261) was recently [resolved](https://github.com/expo/exp/blob/master/CHANGELOG.md#added-8) and it was mentioned there is a `--no-publish` flag 🎉
but it's nowhere in the [docs](https://docs.expo.io/versions/latest/distribution/building-standalone-apps#__next) so probably most people won't be able to find it

It's a great way to

[2018-06-28 17:12] jimmylee commented on #318
Thanks for bringing this up @gregbenner, we'll incorporate this into our documentation.

[2018-06-28 17:12] jimmylee commented on #314
The best thing to do is to submit a PR and we can help revise the changes and land the improvements.

Thanks for bringing this to our attention!

[2018-06-28 19:20] amandeepmittal opened #321 "Link in the docs not working"
[This link](https://docs.expo.io/versions/v28.0.0/workflow/expokit.html) to Expo Kit on [page](https://docs.expo.io/versions/v28.0.0/workflow/create-react-native-app) is not working. It gives 404 error.
![screen shot 2018-06-29 at 12 49 57 am](https://user-images.githubusercontent.com/10234615/42055959-62d6b16a-7b36-11e8-972e-eeac7fa02cc2.png)

[2018-06-30 01:16] gregbenner commented on #318
No worries I would be happy to help with documentation if you need (in the future), but I would need some tips as to how you like to word things.

[2018-06-30 01:16] #318 closed

[2018-06-30 17:03] Nermin-K opened #323 "I'm trying to use audio in expo from this link https://docs.expo.io/versions/latest/sdk/audio.html and it works fine until I replace the string inside require function with dynamic variable string!! It gives me error that "require() must have a single string literal argument" and I can't fix it"

[2018-07-01 02:11] Nermin-K opened #324 "I want to upload pdf file from the mobile then store it in some folder in the my-app project folder. How can I do it?"

[2018-07-03 16:18] AakashRainaClairvoyant opened #325 "Get base64 encoding for recorded audio and video"
Hello,

I want to get the base64 encoding for the audio/video I recorded, however, I'm not able to do so using expo. I have to store the audio/video on S3(we are using aws mobile hub for backend along with aws amplify). We also tried storing the blob on S3 but it doesn't seem to work. I have been able to store the audio/video file on the device using the media library API. Is there any way I could

[2018-07-04 19:45] #321 closed

[2018-07-05 03:49] amandeepmittal commented on #321
Why did you close the issue?

[2018-07-05 18:30] Nermin-K commented on #323
yeah, I got this at the end but it still very annoying that there is no alternative thing to help me reach my wish.

[2018-07-05 18:33] davidmargolin commented on #323
agreed

[2018-07-19 18:33] Murthy10 opened #335 "Unit of the accelerometer"
It would be nice if the documentation would point out the unit of the accelerometer.
Since I get about 1.0 if the my smartphone is on a flat plane I assume that this represents 1g (9.81 m/s^2).

[2018-07-21 00:06] RishabBhandari opened #336 "Help with Notifications -- sorry formating is trash"
I want my code to have a notification toggle, where the notifications would stop if the user turns off the  switch, and turn on if the switch is on. However, such is not the case and the notifications keep coming in regardless of if the switch is on or off. Help would be greatly appreciated as I have spent countless hours on this one functionality. Thanks

___
`
export default class Timer extends

[2018-07-23 22:13] eriveltonelias commented on #336
Hi @RishabBhandari !

Why don't you try to it on your server? Basically, when the user turns off the notification you can save it on your database and before send notification check if the user wants to receive the notification ( checking it on your database ).

For Q&A try to use [StackOverflow](https://stackoverflow.com/), the community can help you faster than create a issue on Expo.

[2018-07-23 22:15] RishabBhandari commented on #336
Can you provide an example? Im a little confused by what you mean to keep it on a server.

Thanks

[2018-07-26 19:06] xperiafan13-rom opened #339 "Expo fingerprint user_cancel Android"
Random times i get:
14:03:05: Object {
14:03:05:   "error": "user_cancel",
14:03:05:   "message": "Se canceló la operación de huella digital.",
14:03:05:   "success": false,
14:03:05: }

Im restart the app and same message, other times, all is working god.
Im test this only on Android

  "dependencies": {
    "@expo/vector-icons": "^6.3.1",
    "expo": "^28.0.0",
    "install": "^0.12.1",
    "nat

[2018-08-05 18:11] eriveltonelias commented on #323
Hi @Nermin-K

Looks like it isn't a problem related with **Expo** because on react-native you need to call it statically. Maybe to resolve your problem, try to save your "music" on the server and call it dynamic using
`{ uri: 'http://path/to/file' }`

[2018-08-16 10:08] SKempin opened #346 "exp build:android fails"
Running `exp build:android errors` fails. I am experiencing this on both Windows and OS X.

[This solution](https://forums.expo.io/t/error-connect-econnrefused-127-0-0-1-19001/12535/4) is working as a temporary work around. Expo version is `56.0.0`.

[code]

[2018-08-16 10:16] SKempin commented on #346
Referenced in https://github.com/expo/expo/issues/2115.

[2018-08-16 10:16] #346 closed

[2018-08-20 12:58] peterkuiper opened #347 "Installation instructions for latest simulator build not working"
From: https://docs.expo.io/versions/latest/introduction/installation#ios-simulator

Unpacking does not generate a `Exponent-x.y.z.app` directory. When using `tar`, files are extracted in the current directory.

Trying to copy the directory without the .app extension generates the following error:

[code]
This does work:

[code]

[2018-08-29 06:06] mvdam opened #349 "[Push notifications] Usage of `props.exp.notification`"
When implementing push notifications for our app and reading the docs I came across the section [Notification handling timing](https://docs.expo.io/versions/v29.0.0/guides/push-notifications#notification-handling-timing).

In the table, in column `Push was received when…`: `App was not open, and then opened by selecting the push notification`, the following statement is made `Passed as props.exp.n

[2018-08-30 20:26] TimAbraldes commented on #174
I came to report the same issue, and my findings mirror the OP's findings:

I'm not clear on what the "help wanted" label means. Are you looking for someone to submit a PR for this?

[2018-09-09 09:25] tushgup opened #354 "Amplitude Documentation Example"
Hey guys, I'm not able to find any examples for setting up Amplitude Analytics on Expo.

The example link in the docs is broken.

Link: https://docs.expo.io/versions/latest/sdk/amplitude.html
Example Broken Link: https://github.com/expo/expo/blob/master/js/api/Analytics.js

[2018-09-10 19:33] jimmylee commented on #354
@tushgup thank you so much for bringing this up!

I'm not an expert so if anyone is able to send a pull request that would be super useful.

[2018-09-10 19:33] jimmylee commented on #349
Maybe @ide can confirm some of the details here.

[2018-09-10 19:35] jimmylee commented on #347
Thanks for pointing this out, I'm not an expert on this topic but if you want to submit a PR that would be super helpful :-)

[2018-09-10 19:36] jimmylee commented on #339
Hey @xperiafan13-rom I recommend posting this on the forums https://forums.expo.io since this repository is for changes to our documentation.

[2018-09-10 19:36] #339 closed

[2018-09-10 19:37] jimmylee commented on #335
@Murthy10 this is a really great point. I'll see if I can pull someone on the team to take a look at this.

[2018-09-10 19:37] jimmylee commented on #325
Hey @AakashRainaClairvoyant! I recommend posting this to https://forums.expo.io since this repository is for feedback about the documentation.

[2018-09-10 19:37] #325 closed

[2018-09-10 19:38] jimmylee commented on #324
Hey @Nermin-K !!

I recommend you post your question to https://forums.expo.io since this repository is for our documentation.

[2018-09-10 19:38] #324 closed

[2018-09-10 23:39] ide commented on #349
I'm not sure what the behavior is, would need to read the code to figure it out.

[2018-09-11 06:58] mvdam commented on #349
That would be great!

[2018-09-13 20:49] FrederickEngelhardt opened #358 "XDE Client missing on browser"
Not sure if this is an issue but I was looking for the XDE client and could not find it. There is still documentation on how to use it but I cannot find a link on the main page to download the client on Mac or Windows. (I'm on a Mac while viewing the web on chrome browser).

[2018-09-13 21:00] davidmargolin commented on #358
yeah it sucks that they removed it from the main page. Downloads are here: https://github.com/expo/xde/releases

[2018-09-21 10:59] peterkuiper commented on #347
@jimmylee https://github.com/expo/expo-docs/pull/361 HTH

[2018-09-26 06:12] #358 closed

[2018-09-26 06:12] #347 closed

[2018-09-26 06:13] jimmylee commented on #336
@eriveltonelias thank you so much for jumping in here. @RishabBhandari I'm going to close this thread, please ask this question on the forums https://forums.expo.io -- that way more people can help you and more people will see your question.

Cheers!

[2018-09-26 06:13] #336 closed

[2018-09-26 06:15] jimmylee commented on #323
Hey folks,

I'm going to have to ask you guys to move this question to the forums (https://forums.expo.io). More people will see your question and be able to lend a hand.

@eriveltonelias thank you for jumping in. Sorry about the issues if it is a problem on our end. We'll work hard to get things right.

[2018-09-26 06:15] #323 closed

[2018-09-30 17:30] baochungit commented on #63
@nikki93 Could you tell me where to set `cache: false` ? It seems that the result of `txn.executeSql` is cached, the db file is updated but somehow I always get the old result.

[2018-10-01 18:27] johntips commented on #354
I can't find any docs those links too.
If you found any correct links , please PR!!

[2018-10-02 22:07] dreadful-dev opened #370 "Network Documentation Out of Date"
The react-native [networking documentation](https://docs.expo.io/versions/latest/react-native/network) refers to the ability to add an App Transport Security exceptions, and links [here](https://docs.expo.io/versions/latest/react-native/integration-with-existing-apps.md#test-your-integration). However, this route no longer exists, and a 404 page is displayed.

Is it possible to add an ATS exceptio

[2018-10-06 17:05] amandeepmittal opened #373 "Typo"
- At [link](https://docs.expo.io/versions/latest/sdk/linear-gradient#__next).
- Text:

`An array of the same **lenth** as colors, where each element is a float with the same meaning as the start and end values, but instead they indicate where the color at that index should be.`

Should be _length_.

[2018-10-08 01:14] hoekma opened #377 "Push Notifications documentation problem"
At the end of the first code example in [the push notifications documentation](https://docs.expo.io/versions/latest/guides/push-notifications), I believe you are missing the following line of code:

`export default registerForPushNotificationsAsync`

Without this, Expo throws the following error:

[2018-10-08 15:55] alexpopa-work opened #378 "Android deep linking documentation"
I cannot describe my joy when I found out that deep and universal linking were finally implemented!
So, first of all, thank you, you are awesome!

But the example in the docs doesn't seem to work.
**[Here](https://github.com/expo/expo-docs/blob/master/versions/unversioned/workflow/linking.md#deep-links-on-android)**'s the piece of configuration that is wrong.
There's a missing comma before "pathPr

[2018-10-09 09:55] alexpopa-work commented on #378
Yep, it works as I suggested. For some reason the data field doesn't accept arrays (the native one accepts them, I think). But still, awesome work, now we're able to finally intercept the links based on a defined pattern.

[2018-10-09 09:55] #378 closed

[2018-10-12 09:01] jhalborg opened #379 "Link to "Changing your workflow" goes to same site"
Hey!

On https://docs.expo.io/versions/latest/expokit.html#changing-your-workflow-to-use-custom-native , it just links to the same site

[2018-10-15 18:40] #354 closed

[2018-10-15 18:56] #373 closed

[2018-10-15 19:54] #267 closed

[2018-10-16 03:57] vzsky opened #383 "sh : npm install react-navigation --save problem."
as in the working environment directory, I ran
``` npm install react-navigation --save ```
and I tracked the installation manually.
I found out that the installation cause some problem

this is the node_modules directory **before** the installation
<img width="583" alt="screen shot 2561-10-16 at 10 48 30" src="https://user-images.githubusercontent.com/20735983/46991661-09093080-d131-11e8-84ef-e06c

[2018-10-16 18:28] brentvatne commented on #383
this is a bug with npm. you can delete your node_modules and package-lock.json and then run `npm install` to fix it. i suggest using yarn instead though

[2018-10-16 18:28] #383 closed

[2018-10-23 16:57] Slapbox opened #387 "Broken link - "advanced ExpoKit topics""
On this page, the final link in the doc is to a non-existent page: https://docs.expo.io/versions/latest/expokit

The link is to: https://docs.expo.io/versions/latest/advanced-expokit-topics.html

[2018-11-04 04:09] ryh opened #392 "a bit of confusion on expo export --public-url (distribution/hosting-your-app.md)"
the URL.1 for the QR Code is `exp://host/path/platform-index.json`
And the user will have to generate two different QR Codes for both iOS and Android , just exp://host/path/ would be nice.
  (open another issue on Expo Client github.com/expo/expo ?)

and the URL.2 following  expo export --public-url is `scheme://host/path` without the file name
(`<path-to-android-index.json>` in the Doc, I miss-ty

[2018-11-04 05:01] ryh commented on #392
I made a repo for example  `first-project` in `up-and-running`
https://github.com/ExpoExample/ExpoExample.github.io
then the example url can be
**public-url**  `expo export --public-url https://ExpoExample.github.io/first-project/`
**QR Code** `exps://expoexample.github.io/first-project/android-index.json` and `exps://expoexample.github.io/first-project/ios-index.json`

[2018-11-04 12:36] ryh commented on #392
Oh, it is "https://quinlanj.github.io/self-hosting/ios-index.json" instead of "https://quinlanj.github.io/self-host/android-index.json"

[2018-11-07 13:36] brettdh opened #407 "Expo.Audio.Sound.createAsync doesn't exist?"
The [Audio docs](https://docs.expo.io/versions/latest/sdk/audio.html) refer to `Audio.Sound.createAsync`, but in my Expo SDK (30.0.0), there's only `Audio.Sound.create`.

Just getting started with the Audio API; I will update this with any other staleness I find.

[2018-11-07 13:41] brettdh commented on #407
Gah, of course I was viewing "latest` instead of "v30.0.0".

Was there a deprecation notice here? Is it commonplace to rename methods without leaving a backwards compatibility version? This makes it pretty hard to use the Expo docs if I'm not always upgrading on release day.

[2018-11-07 13:50] brettdh commented on #407
Not mentioned in the [31.0.0 changelog](https://github.com/expo/expo/blob/master/CHANGELOG.md#3100-partial-changelog), for instance; only in the [release announcement](https://blog.expo.io/expo-sdk-v31-0-0-is-now-available-cad6d0463f49), which seems like it would be _less_ authoritative and comprehensive. Very confused.

[2018-11-07 18:28] brentvatne commented on #407
cc @esamelson

[2018-11-07 21:52] esamelson commented on #407
Hi @brettdh - thanks for letting us know about this discrepancy. I've updated the changelog to reflect this correctly. We only started using a changelog midway through this cycle, so unfortunately a few changes that happened early on got missed (note that it says `Partial Changelog` for 31.0.0). We'll do better about documenting everything there in the future.

[2018-11-07 21:52] #407 closed

[2018-11-07 22:13] brettdh commented on #407
@esamelson Thanks. I wonder if there's also a way to be more explicit about when APIs were introduced? For instance, I notice that `Sound.create` actually does still exist in SDK 31; it's just not mentioned in the docs. It might also be useful to have a note about when an API was introduced or changed, as (for example) the Python and Node.js docs do - as well as deprecation information inline with

[2018-11-08 01:12] esamelson commented on #407
@brettdh - thanks for this feedback. We're looking at doing a significant overhaul to our docs in the near future and we'll take this into consideration.

[2018-11-15 01:29] cdelcol opened #416 "SDK v31.0.0 Segment api missing from docs"
Segment is not present in the menu due to an error in markup:

https://github.com/expo/expo-docs/blob/master/versions/v31.0.0/sdk/segment.md

`–- title: Segment –-`
should be
`–-- title: Segment –--`

[2018-11-15 18:05] #416 closed

[2018-11-19 12:04] swati-kholiya opened #418 "How do I if the calendar is default Calendar , so that I can create event on it."

[2018-12-03 14:45] dzienisz opened #428 "Link in docs is not working"
`add an App Transport Security exception.` link is not working :( [Link](https://docs.expo.io/versions/latest/react-native/integration-with-existing-apps.md#test-your-integration)

![image](https://user-images.githubusercontent.com/3521624/49380685-7a696680-f712-11e8-9ffc-464f245aa480.png)

[2018-12-04 02:38] iamcxa opened #429 "SDK v31 Brightness API usage is not correct in docs"
the issued doc is here: https://docs.expo.io/versions/v31.0.0/sdk/brightness

I found that in Expo SDK v31, the doc mentions Brightness API provide these 2 functions:

- [Expo.Brightness.setBrightness(brightnessValue)](https://github.com/expo/expo-docs/blob/b874fb558dd8a56ad1018aa24f572f2d73c671fb/versions/unversioned/sdk/brightness.md#expobrightnesssetbrightnessbrightnessvalue)
- [Expo.Brightness

[2018-12-10 15:42] philipwhiuk commented on #428
This is on: https://docs.expo.io/versions/latest/react-native/network

Might want to link here: https://facebook.github.io/react-native/docs/integration-with-existing-apps#test-your-integration

[2018-12-10 17:11] dzienisz commented on #428
Do you want me to fix that?

[2018-12-13 20:50] DevS1993 opened #435 "Android Studio Emulator documentation is not detailed enough"
(As a newbie to react-native/expo/mobile-app development)

I spent a lot of time trying to run my app through the android emulator. Even after following all the instructions here : https://docs.expo.io/versions/latest/workflow/android-studio-emulator

Little did i know that he emulator had to be up and running before expo-cli could work its magic on it. (i expected expo would launch the emulator)